
header{
    overflow: hidden;
}

body{
    background-color: #fefbd8;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    font-weight: 50;
    color: #3e4444;
}

section{
    width: 80%;
    height: 100%;
    float: left;
    padding: .5em;
}

footer{
    width:100%;
    clear: both;
    text-align: center;
    background-color: #618685;
    color: aliceblue;
}
