
header{
    overflow: hidden;
}

body{
    background-color:#F0F7D4;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    font-weight: 50;
    color: #3e4444;
}


h2, h3{
    color: #722018;
}

section{
    width: 80%;
    height: 80%;
    float: left;
    padding: .5em;
}

footer{
    width:100%;
    clear: both;
    text-align: center;
    background-color: #4424D6;
    color: aliceblue;
    font-size: 14pt;
}
